################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/wpfLab/obj
/wpfLab/bin
